[Desktop Entry]
Name=bluetui
Exec= kitty --single-instance --app-id "bluetui" bluetui
Icon=bluetooth-pixel-bg
Terminal=false
Type=Application
Keywords=bluetooth, blue, bt
