[Desktop Entry]
Name=rmpc
Exec= kitty --single-instance --app-id "rmpc" rmpc
Icon=music-pixel-sand
Terminal=false
Type=Application
Keywords=music,mpd

