(
    selected_tab: Some("#e68d53"),
    command_fg: Some("#afd2e9"),
    selection_bg: Some("#5d4f40"),
    selection_fg: Some("#3b3228"),
    cmdbar_bg: Some("#4c4134"),
    cmdbar_extra_lines_bg: Some("#4c4134"),
    disabled_fg: Some("#c1a387"),
    diff_line_add: Some("#92a650"),
    diff_line_delete: Some("#e86045"),
    diff_file_added: Some("#92a650"),
    diff_file_removed: Some("#e86045"),
    diff_file_moved: Some("#e68d53"),
    diff_file_modified: Some("#e68d53"),
    commit_hash: Some("#afd2e9"),
    commit_time: Some("#afd2e9"),
    commit_author: Some("#92a650"),
    danger_fg: Some("#e86045"),
    push_gauge_bg: Some("#3eccbe"),
    push_gauge_fg: Some("#868686"),
    tag_fg: Some("#3eccbe"),
    branch_fg: Some("#ace1af"),
    line_break: Some("¶"),
    use_selection_fg: Some(false),
)
